* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A;
  color: #D6DBD2;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 48px;
  background-color: #3A005D;
  color: #D6DBD2;
  font-size: 14px;
}

.base-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.grid-container {
  border: 4px solid #3A005D;
  background-color: #6D6C6A;
  width: 720px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.grid-row {
  flex: 1;
  display: flex;
}

.grid-item {
  background-color: #6D6C6A;
  flex: 1;
}

.grid-item-colored {
  background-color: rgba(22, 21, 18, 0.1);
}
